html {
    background-color: white;
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
}

pre {
    text-align: center;
}

div {
    background-image: url("../img/div_bg.jpg");
    width: 50%;
    margin: auto;
    padding: 5vw;
    border-radius: 20px;
    -moz-box-shadow: 10px 10px 10px rgb(139, 132, 132);
    -webkit-box-shadow: 10px 10px 10px rgb(139, 132, 132);
    box-shadow: 10px 10px 10px rgb(139, 132, 132);
}

h1 {
    color: white;
    text-align: center;
}